


#start {
    background-color: #8ebc4f;
    margin-top: 20px;
    
}



#GameOver {
    font-size: 50px;
    color: 	#e15239;
    font-weight: bold;
    margin-top: 15px;

}


span {
    display: block;
}


#question button {
   padding: 5px 10px;
   font-size: 14px;
   margin-top: 25px;

    
}



#youlost, #countdown {
    font-size: 24px;
}

.info-title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

button {
    background-color: #8ebc4f; 
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    font-size: 18px;    
    margin: auto;
    margin-bottom: 20px;
  }



button:hover, button#start:hover {
    background-color: #c3e297;
    color:black

}

#high-score {
    margin-top: 20px;
    text-align: right;
}


.card {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 20px;
    background-color: #185fad;
    color: #f8c169;
    text-align: center;
    flex: 0 0 400px;
    margin-top: 80px;
    width: 800px;
    height: auto;
    margin:auto;
    margin-top: 80px;
    border: #185fad 5px solid;
  }

  .game-details#score {
      text-align: left;
  }

  .game-details#ques {
      text-align: right;
  }

  
  

.card p {
    text-align: center;
  }
  
.card img {
    width: 100%;
  }

  .info_box {
      text-align: start;
      font-size: 14px;
  }

  header {
      background-color: #185fad;
      color: #f8c169;
      text-align: center;
      margin: 20px 20px;
  }

.info-title {
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px;
    margin-bottom: 15px;

}

p#score {
    text-align: right;
}

.info {
    font-size: 18px;
    margin-left: 25px;
    padding: 3px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.info-list {
    margin: auto;
    width: 400px;
    height: auto;
    padding: 10px;

}